@use '../../styles/_variables' as *;

.popup {
  position: fixed;
  width: 600px;
  z-index: $z-index-top;
  top: 50%;
  left: 50%;
  padding-bottom: $default-spacing;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px 3px rgb(0 0 0 / 34%);
  background: $grey;
  border: 2px solid $grey-light;

  &.image {
    border: none;
    padding-bottom: 0;
  }

  @media (max-width: 600px) {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
  }

  .title {
    height: 50px;
    display: flex;
    align-items: center;
    padding: $small-spacing $default-spacing;

    @media (max-width: 600px) {
      border: none;
    }

    h2 {
      flex: 1;
    }
  }

  .main {
    padding: $default-spacing $default-spacing $small-spacing;
    border-top: 2px solid $black;
    display: flex;

    @media (max-width: 600px) {
      border: none;
    }

    @media (max-width: 600px) {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .actions {
    padding: $small-spacing $default-spacing $small-spacing;

    @media (max-width: 600px) {
      border: none;
    }
  }
}
