@use '../../styles/_variables' as *;
@use '../../styles/_mixins' as *;

.button {
  font-family: $font-family;
  display: block;
  border: none;
  background: none;
  cursor: pointer;

  &.in-form {
    margin-bottom: $default-spacing;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  &.image {
    padding: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  &.icon,
  &.primary-icon {
    padding: 0;
  }

  &.primary-icon {
    background: $blue;
    width: 50px;
    height: 50px;

    &:hover {
      opacity: 0.8;
    }
  }

  &.primary,
  &.secondary {
    font-size: $default-font-size;
    min-width: 150px;
    height: 50px;
    background: $blue;
    color: $white;

    &:hover {
      opacity: 0.8;
    }
  }

  &.secondary {
    background: $white;
    color: $black;
  }

  &.toast-close {
    color: $white;
    height: 29px;
    margin-top: -6px;
    margin-right: -10px;

    &:hover {
      opacity: 0.8;
    }
  }

  &.side-nav-trigger {
    padding: 17px;

    &:hover {
      background: $green;
    }
  }

  &.side-nav {
    @include site-nav-btn;
  }
}
