@use '../../styles/_variables' as *;

.toast {
  position: fixed;
  right: $default-spacing;
  bottom: $default-spacing;
  z-index: $z-index-middle;

  &.account-menu-opened {
    right: $default-spacing;
  }

  @media (max-width: 600px) {
    left: $default-spacing;
  }
}
