@use '../../styles/_variables' as *;

.alert {
  display: flex;
  padding: $default-spacing;
  margin: $default-spacing 0 0;
  width: auto;
  border: 1px solid $white;

  &.toast-alert {
    box-shadow: 0 0 5px 3px rgb(0 0 0 / 34%);
    width: 500px;

    @media (max-width: 600px) {
      width: auto;
    }
  }

  &.error {
    background: $red;
  }

  &.info {
    background: $blue;
  }

  &.success {
    background: $green;
  }

  &.warning {
    color: $black;
    background: $yellow;
  }

  span {
    flex: 1;
    line-height: 24px;
    margin-left: $small-spacing;
  }
}
