@use '_variables' as *;

body {
  font-family: $font-family;
  font-size: $default-font-size;
  background-color: $grey;
  color: $white;
  margin: 0;
  padding: 0;

  .content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

// anchors
a {
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}

// headings
h1 {
  font-size: $big-font-size;
}

h2 {
  font-size: $medium-font-size;
}

// generic
.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

.no-margin {
  margin: 0 !important;
}

// opacity
.opacity {
  opacity: 0.2;
}