// colors
$grey: #202124;
$grey-ish: #2a2b2f;
$grey-light: #505050;
$smoke: #b9b8b8;
$white: #ffffff;
$black: #000000;
$green: #00ab41;
$yellow: #c2ea0f;
$blue: #1277de;
$red: #ad2c2c;
$red-light: #ff3333;

// font-family
$font-family: VT323, Silkscreen, Arial, serif;

// font-sizes
$default-font-size: 20px;
$medium-font-size: 28px;
$big-font-size: 39.5px;

// spacing
$default-spacing: 27px;
$medium-spacing: 15px;
$small-spacing: 10px;

// z-indexes
$z-index-behind: -1;
$z-index-surface: 0;
$z-index-bottom: 1;
$z-index-middle: 2;
$z-index-top: 3;

// forms and labels
$label-min-width: 187px;
$field-min-height: 52px;